
body{
	background-color: lightblue !important;
}

h1{
	color: #FF0000; 
	font-size: 90px;
	text-decoration: underline;
}

#first{
	font-size: 150px; 
	text-align: center;
}
				
	.small{
		font-size:20px;
}

	.Medium{
		font-size: 35px 
	}

h2{
	color:#FF0000;
	font-size: 22px;
}

span{
	font-style: italic;
}

h2 span{
	text-decoration: line-through;
}
a{
	text-align: center;
	font-style: initial;
	color: blue;
}
